*{
    font-family: "Orbitron", sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
}


.game{
    width: 100%;
    height: auto;
    margin: 50px;
}
.timer{
    background-color: rgb(12, 12, 12);
    border-radius: 50%;
    height: 500px;
    width: 500px;
position: fixed;
top: 50%;
left: 50%;
margin-top: -250px;
margin-left: -250px;
background-image: linear-gradient(rgb(54, 54, 54), rgb(0, 0, 0));
    outline-style:groove;
    outline-width: 5px;

}
/* Define other styles as before */

/* Override styles for .active class */
.shape.active {
    background-color: aliceblue; /* Example active color, this will be visible when the class is applied */
    background-image: none; /* Remove gradient background when active */
}

.shape:active{
    background-color: aliceblue; /* Example active color, this will be visible when the class is applied */
    background-image: none; /* Remove gradient background when active */

}




.one{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    position: absolute;
    left: -100px;
    top: -100px;
    outline-style: outset;
    outline-width: 15px;
    background-image: linear-gradient(white, rgb(0, 255, 0));
}

.two{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    position: absolute;
    left: 350px;
    top: -100px;
    outline-style: outset;
    outline-width: 15px;
    background-image: linear-gradient(white, rgb(255, 0, 0));
}

.three{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    position: absolute;
    left: 350px;
    top: 350px;
    outline-style: outset;
    outline-width: 15px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 4, 255));
}


.four{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    position: absolute;
    left: -100px;
    top: 350px;
    outline-style: outset;
    outline-width: 15px;
    background-image: linear-gradient(white, rgb(255, 230, 0));
}


.timer .display{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    font-weight: 450;
    text-shadow: 0 0 10px black;
    justify-content: center;
    align-items: center;
    display: flex;
}
.display .start{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 35px;
}
.display .highscore{
    font-size: 40px;
    width: 70px;
    background-color: rgb(160, 160, 160);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.display .score{
    font-size: 40px;
    width: 70px;
    background-color: rgb(160, 160, 160);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.timer .light{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 240px;
    top: 330px;
    background-color: red;
    
}